:root {
    --primary-color: green;
    --primary-color-light: rgb(200, 255, 200);
}

/* Base CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Reusable Classes */
.btn {
    margin-top: 0.5rem;
    background: none;
    border: 3px solid var(--primary-color);
    padding: 5px;
    cursor: pointer;
}

.btn:hover {
    color: white;
    background-color: var(--primary-color);
}

/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--primary-color-light);
}

.navbar__links-wrapper {
    display: flex;
    align-items: baseline;
}

.nabar__item {
    margin-left: 2rem;
}