.container {
    display: flex;
}

.general {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: max-content;
}

.status {
    height: 100%;
    margin: auto;
}

.status__content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status__heading {
    font-size: 3rem;
}

.status__form {
    display: flex;
    flex-direction: column;
}

.btn-panel {
    padding: 0;
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
}

.btn-panel:hover {
    opacity: 0.5;
    color: black;
}

.btn-panel-img {
    max-width: 34rem;
    max-height: 21rem;
    width: auto;
    height: auto;
}

.btn-panel-text {
    font-size: 2rem;
    position: absolute;
    top: 75%;
    left: 2.5rem;
}

.btn-results {
    margin-top: 3rem;
}

.vertical-line {
    border-left: .25rem solid var(--primary-color);
    height: calc(95vh - var(--header-height));
    position: absolute;
    margin-bottom: 1rem;
}