.container {
    display: flex;
    align-items: center;
}

.image {
    max-width: 63rem;
    max-height: 42rem;
    width: auto;
    height: auto;
}

.title {
    color: var(--primary-color);
    margin-bottom: 2rem;
}

/* Form styling */
.form {
    display: flex;
    flex-direction: column;
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
}

.form-step {
    display: none;
}

.form-step-active {
    display: block;
}

.form__field {
    margin-bottom: 1rem;
    padding: 1rem 1rem;
    background-color: antiquewhite;
}