{% extends 'base/base.html' %}
{% block title %}Login{% endblock title %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="container">
    {% for message in messages %}
        {% include 'includes/popup.html' with message=message %}
    {% endfor %}
    <div class="image-wrapper">
        <img class="image" src="{% static 'images/Voting-amico.svg' %}" alt="voting images">
    </div>
    <div class="form__wrapper">
        <h1 class="title">Aditya Birla Public School</h1>
        <h3 class="subtitle">Voting system</h3>
        <form action="{% url 'login' %}" method="post" class="form">
            {% csrf_token %}
            <h3 class="form__title">Login</h3>
            <div class="form__field">
                <label for="username"><i class="fa-solid fa-user icon"></i></label>
                <input type="text" name="username" id="username" placeholder="username" class="form__input">
            </div>
            <div class="form__field">
                <label for="password"><i class="fa-solid fa-lock icon"></i></label>
                <input type="password" name="password" id="password" placeholder="password" class="form__input">
            </div>
            <button class="btn btn-login">LOGIN</button>
        </form>
    </div>
</div>
{% endblock content %}